/*
Theme Name: grybukas
Theme URI: http://underscores.me/
Author: Jonas ir Co
Author URI: http://underscores.me/
Description: Gal gausis
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: grybas
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

grybukas is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	/*line-height: 1.5;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	/*float: left;*/
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	/*margin: 1.5em 0 0;*/
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link{
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}

.gallery-caption {
	display: block;
}

/*css is Pono Jono*/

body{
max-width: 1450px;
}
.nulinis{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("img/background.jpg");
  width: 100%;
  height: 877px;
}
#page{
	position: relative;
}
header#masthead{
	position: absolute;
	z-index: 1;
	width:100%;
}
.bar {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.bar nav{
	display: block;
	width:1250px;
	margin:0 auto;
	vertical-align: middle;
}
nav .menu-header-container{
	display: inline-block;
}
.main-navigation>a:first-child{
	float: left;
}
.main-navigation>a:last-child{
	float: right;
}

.gustoso{
display: inline-block;
padding: 21px 0;
/*vertical-align: top;*/
}
.bar ul{
  color: white;
  font-size: 18px;
  padding: 23px 0 22.5px 0;
  margin-right: 0px;
  margin-bottom: 0px;
  display: -webkit-inline-box;
	vertical-align: top;
}
.bar li{
  display: inline-block;
}
.bar a{
	display: inline-block;
  font-variant: small-caps;
  text-decoration: none;
  color: white;
}
.bar p{
  margin:0 30px;
  display: inline-block;
}
.bar li:last-child p{
	display: none;
}
.logo{
	padding: 24px 0;
	vertical-align: bottom;

/*margin-left: 100px;
margin-right: 100px;*/
}

.mid{
  background-image: url("img/shadow.png");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  background-size: contain;
  height: 496px;
  width: 100%;
}
.pastry{
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 50px;
  display:block;
}
.vidurys{
  text-align: center;
}
.vidurys img{
  display: inline-block;
}
.vidurys p{
  font-size: 20px;
  color: #cccccc;
}
.vidurys button{
  cursor: pointer;
  margin-top: 50px;
  font-size: 20px;
  border: 1px grey dashed;
  padding: 10px 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Pirmas prasideda*/

.pirmasis{
  height: 720px;
  width: 100%;
  background-image: url("white.jpg");
  text-align: center;
  background-repeat: no-repeat;
}
.pirmasis-kaire p{
margin-top: 50px;
font-weight: bold;
font-size: 15px;
}
.pirmasis-kaire{
  margin-top: 50px;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.pirmasis-kaire h3{
  margin-top: 0;
  font-variant:small-caps;
}
.pirmasis-kaire h4{
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 150px;
  padding: 10px;
  border-width: thin;
  border-bottom-style: solid;
  border-top-style: solid;
  float: left;
  font-size: 20px;
}
.pirmasis-kaire h5{
  margin-top: 50px;
  margin-bottom: 0;
  margin-right: 150px;
  padding: 10px;
  border-width: thin;
  border-bottom-style: solid;
  border-top-style: solid;
  float: right;
  font-size: 20px;
}
.pirmasis-desine{
  margin-top: 60px;
  width: 50%;
  display: inline-block;
}
.cakes{
  margin-bottom: 0;
  margin-top: 0px;
  font-weight: bold;
  font-size: 40px;
}
.chef{
  border-radius: 100px;
}
.best{
  padding: 10px;
  display: inline-block;
  width: 290px;
  height: 250px;
}
.zodis{
  margin-top: 50px;
}
.pirmasis-visas{
  margin: 0 auto;
}
.vektortext{
  position: absolute;
  right: 15%;
  top: 140%;
}
.vektor{
  opacity: 0.5;
}
.good{
  position: absolute;
  top: 35%;
  right: 24%;
}

/*antras prasideda*/

.antrasis{
  background-repeat: no-repeat;
  background-image: url("background2.jpg");
  width: 100%;
  height: 720px;
}
 .antrasis-visas{
 }
.antrasis-kaire{
  top: 235%;
  left: 15%;
  position: absolute;
  display: inline-block;
}
.foto6{
  height: 512px;
}
.kampas{
top: 90%;
position: absolute;
}
.antrasis-desine{
  top: 235%;
  left: 45%;
  position: absolute;
  display: inline-block;
}
  .antrasis-desine h1{
    font-size: 45px;
    position: absolute;
    left: 12%;
    top: 10%;
  margin: 0;
  }
  .antrasis-desine h2{
    color: #663300;
    font-variant:small-caps;
    position: absolute;
    left: 12%;
    top: 22%;
    margin: 0;
  }
  .antrasis-desine p{
    color: #666666;
    font-size: 18px;
    position: absolute;
    left: 12%;
    top: 38%;
    margin: 0;
  }
.fotos1{
  top: 75%;
  margin-bottom: 30px;
  left: 20%;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.fotos2{
  top: 75%;
  margin-bottom: 30px;
  left: 40%;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.foto3{
  top: 75%;
  left: 60%;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.foto4{
  opacity: 0.6;
  left: 55%;
  position: absolute;
  top: 35%;
}
.ready{
  right: -15%;
  top:-15%;
position: absolute;
}
.stars2{
  left: 6%;
  top: 35%;
  position: absolute;
}
.stars1{
  position: absolute;
  top: 65%;
  left: 12%;
}
.eclipse{
  left: 40%;
  top: 95%;
  position: absolute;
}
.arrow1{
  left: 10%;
  top: 80%;
  position: absolute;
}
.arrow2{
  right: 10%;
  top: 80%;
  position: absolute;
}
/*treciasis prasideda*/

.treciasis{
  background-repeat: no-repeat;
  background-image: url("background3.jpg");
  width: 100%;
  height: 800px;
}
.treciasis-kaire{
  text-align: center;
  width: 49%;
  display: inline-block;
}
.treciasis-desine{
  width: 50%;
  display: inline-block;
}
.menu3{
  top: 355%;
position: absolute;
right: 10%;
}
.menu2{
  top: 352%;
  right: 11%;
  position: absolute;
}
.menu1{
  top: 350%;
  position: absolute;
  right: 15%;
}
.h01{
  margin-bottom: 0;
  margin-top: 130px;
  color: white;
  font-size: 50px;
}
.h02{
  font-variant: small-caps;
  margin: 0;
  color: #666666;
}
.h03{
  margin-top: 40px;
  margin-bottom: 0;
  color: white;
  font-size: 42px;
}
.h04{
  margin: 0;
  font-size: 20px;
  color: #666666;
}
.h05{
  margin-top: 40px;
  margin-bottom: 0;
  color: white;
  font-size: 37px;
}
.h06{
  margin: 0;
  font-size: 20px;
  color: #666666;
}
.h07{
  margin-top: 40px;
  margin-bottom: 0;
  color: white;
  font-size: 32px;
}
.h08{
  margin: 0;
  font-size: 20px;
  color: #666666;
}
.price1{
color: #b36b00;
font-size: 32px;
}
.price2{  color: #b36b00;
font-size: 32px;
}
.price3{
color: #b36b00;
font-size: 32px;
}
/*ketvirtas prasideda*/


.ketvirtasis{
background-repeat: no-repeat;
background-image: url("background4.jpg");
width: 100%;
height: 900px;
}
.ketvirtasis-visas{
position: relative;
}
.ketvirtasis-kaire{
text-align: center;
display: inline-block;
  width: 40%;
}
.ketvirtasis-kaire img{
  border-radius: 100px;
  width: 80px;
  height: 80px;
}
.ketvirtasis-kaire h1{
  color: #663300;
  margin-bottom: 0;
  font-size: 30px;
}
.ketvirtasis-kaire h3{
  color: #666666;
  margin: 0;
  font-size: 15px;
}
.ketvirtasis-desine{
  position: relative;
  width: 59%;
  display: inline-block;
}
.jebarito{
  width: 650px;
  height: 450px;
}
.lastas1{
  top: 14%;
  right: 19%;
  position: absolute;
  width: 175px;
  height: 175px;
}
.lastas2{
  top: 46%;
  right: 19%;
  position: absolute;
  width: 175px;
  height: 175px;
}
.lastas3{
  top: 78%;
  right: 19%;
  position: absolute;
  width: 175px;
  height: 175px;
}
.taste1{

  margin: 0;
  display: block;
  font-size: 35px;
}
.taste2{
  color: #663300;
  margin-top: 0;
  margin-bottom: 35px;
  display: block;
  font-size: 20px;
  font-variant: small-caps;
}
.taste3{
  left: 15%;
  top: -20%;
  position: absolute;
}
.grudai{
  margin-top: 40px;
}
.recipe{
  top: 90%;
  left: -2%;
  position: absolute;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 18px;
  border: 1px #663300 dashed;
  color: #663300;
  background-color: #e6e6e6;
}
.bar nav{
	display: block;
	width:1250px;
	margin:0 auto;
	vertical-align: middle;
}
nav .menu-header-container{
	display: inline-block;
}
.main-navigation>a:first-child{
	float: left;
}
.main-navigation>a:last-child{
	float: right;
}

.gustoso{
display: inline-block;
padding: 21px 0;
/*vertical-align: top;*/
}
.bar2 .inner{
	display: block;
	width: 1250px;
	margin: 0 auto;
	vertical-align: middle;
}
.bar2 ul{
  font-size: 18px;
  padding: 23px 0 22.5px 0;
  margin:0;
	vertical-align: top;
	color: black;
  font-size: 18px;
  padding: 0;
  display: -webkit-inline-box;
}
.bar2 li{
	cursor: pointer;
	display: inline-block;
}
.bar2 a{
	display: inline-block;
  font-variant: small-caps;
  text-decoration: none;
	color:black;
}
.bar2 p{
	margin:0;
	margin-right: 30px;
  margin-left: 30px;
  display: inline-block;
}
.bar2 li:last-child p{
	display: none;
}
.menu-footer-kaire-container{
	margin-left:7%;
}
.menu-footer-kaire-container,.menu-footer-desine-container{
	border-top:1px solid #c2beba;
	border-bottom:1px solid #c2beba;
	display: inline-block;
	vertical-align: top;
	padding-top: 11.5px;
	padding-bottom: 11.5px;
	margin-bottom: 25px;
}



.gustoso2{
  margin-left: 50px;
  margin-right: 50px;
}
.last2{
  margin-top: 50px;
}
.last3{
  margin-top: 50px;
}
.line1{
  top: 90%;
  position: absolute;
}
.line2{
  top: 100%;
  left: 3%;
   position: absolute;
}
.line3{
  left: 55%;
    top: 90%;
  position: absolute;
}
.line4{
  left: 58%;
    top: 100%;
  position: absolute;
}
