/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  background-color: #756969;
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  }

/*Mano kodas!!!*/

body{
max-width: 1450px;
}
.nulinis{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("background.jpg");
  width: 100%;
  height: 720px;
}
.bar {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 40%;
  text-align: center
}

.gustoso{
margin-left: 160px;
float: left;
margin-top: 30px;
  display: inline-block;
}
.bar ul{
  color: white;
  font-size: 18px;
  padding: 0;
  margin-right: 0px;
  margin-bottom: 0px;
  display: -webkit-inline-box;
}
.bar li{
  display: inline-block;
}
.bar a{
  font-variant: small-caps;
  text-decoration: none;
  color: white;
}
.bar p{
  margin-right: 30px;
  margin-left: 30px;
  display: inline-block;
}
.logo{
margin-left: 100px;
margin-right: 100px;
}

.mid{
  background-image: url("shadow.png");
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  background-size: contain;
  height: 496px;
  width: 100%;
}
.pastry{
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
  font-size: 80px;
  margin-top: 150px;
  margin-bottom: 50px;
  display:block;
}
.vidurys{
  text-align: center;
}
.vidurys img{
  display: inline-block;
}
.vidurys p{
  font-size: 20px;
  color: #cccccc;
}
.vidurys button{
  cursor: pointer;
  margin-top: 50px;
  font-size: 20px;
  border: 1px grey dashed;
  padding: 10px 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

/*Pirmas prasideda*/

.pirmasis{
  height: 720px;
  width: 100%;
  background-image: url("white.jpg");
  text-align: center;
  background-repeat: no-repeat;
}
.pirmasis-kaire p{
margin-top: 50px;
font-weight: bold;
font-size: 15px;
}
.pirmasis-kaire{
  margin-top: 50px;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.pirmasis-kaire h3{
  margin-top: 0;
  font-variant:small-caps;
}
.pirmasis-kaire h4{
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 150px;
  padding: 10px;
  border-width: thin;
  border-bottom-style: solid;
  border-top-style: solid;
  float: left;
  font-size: 20px;
}
.pirmasis-kaire h5{
  margin-top: 50px;
  margin-bottom: 0;
  margin-right: 150px;
  padding: 10px;
  border-width: thin;
  border-bottom-style: solid;
  border-top-style: solid;
  float: right;
  font-size: 20px;
}
.pirmasis-desine{
  margin-top: 60px;
  width: 50%;
  display: inline-block;
}
.cakes{
  margin-bottom: 0;
  margin-top: 0px;
  font-weight: bold;
  font-size: 40px;
}
.chef{
  border-radius: 100px;
}
.best{
  padding: 10px;
  display: inline-block;
  width: 290px;
  height: 250px;
}
.zodis{
  margin-top: 50px;
}
.pirmasis-visas{
  margin: 0 auto;
}
.vektortext{
  position: absolute;
  right: 15%;
  top: 140%;
}
.vektor{
  opacity: 0.5;
}
.good{
  position: absolute;
  top: 35%;
  right: 24%;
}

/*antras prasideda*/

.antrasis{
  background-repeat: no-repeat;
  background-image: url("background2.jpg");
  width: 100%;
  height: 720px;
}
 .antrasis-visas{
 }
.antrasis-kaire{
  top: 235%;
  left: 15%;
  position: absolute;
  display: inline-block;
}
.foto6{
  height: 512px;
}
.kampas{
top: 90%;
position: absolute;
}
.antrasis-desine{
  top: 235%;
  left: 45%;
  position: absolute;
  display: inline-block;
}
  .antrasis-desine h1{
    font-size: 45px;
    position: absolute;
    left: 12%;
    top: 10%;
  margin: 0;
  }
  .antrasis-desine h2{
    color: #663300;
    font-variant:small-caps;
    position: absolute;
    left: 12%;
    top: 22%;
    margin: 0;
  }
  .antrasis-desine p{
    color: #666666;
    font-size: 18px;
    position: absolute;
    left: 12%;
    top: 38%;
    margin: 0;
  }
.fotos1{
  top: 75%;
  margin-bottom: 30px;
  left: 20%;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.fotos2{
  top: 75%;
  margin-bottom: 30px;
  left: 40%;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.foto3{
  top: 75%;
  left: 60%;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.foto4{
  opacity: 0.6;
  left: 55%;
  position: absolute;
  top: 35%;
}
.ready{
  right: -15%;
  top:-15%;
position: absolute;
}
.stars2{
  left: 6%;
  top: 35%;
  position: absolute;
}
.stars1{
  position: absolute;
  top: 65%;
  left: 12%;
}
.eclipse{
  left: 40%;
  top: 95%;
  position: absolute;
}
.arrow1{
  left: 10%;
  top: 80%;
  position: absolute;
}
.arrow2{
  right: 10%;
  top: 80%;
  position: absolute;
}
/*treciasis prasideda*/

.treciasis{
  background-repeat: no-repeat;
  background-image: url("background3.jpg");
  width: 100%;
  height: 800px;
}
.treciasis-kaire{
  text-align: center;
  width: 49%;
  display: inline-block;
}
.treciasis-desine{
  width: 50%;
  display: inline-block;
}
.menu3{
  top: 355%;
position: absolute;
right: 10%;
}
.menu2{
  top: 352%;
  right: 11%;
  position: absolute;
}
.menu1{
  top: 350%;
  position: absolute;
  right: 15%;
}
.h01{
  margin-bottom: 0;
  margin-top: 130px;
  color: white;
  font-size: 50px;
}
.h02{
  font-variant: small-caps;
  margin: 0;
  color: #666666;
}
.h03{
  margin-top: 40px;
  margin-bottom: 0;
  color: white;
  font-size: 42px;
}
.h04{
  margin: 0;
  font-size: 20px;
  color: #666666;
}
.h05{
  margin-top: 40px;
  margin-bottom: 0;
  color: white;
  font-size: 37px;
}
.h06{
  margin: 0;
  font-size: 20px;
  color: #666666;
}
.h07{
  margin-top: 40px;
  margin-bottom: 0;
  color: white;
  font-size: 32px;
}
.h08{
  margin: 0;
  font-size: 20px;
  color: #666666;
}
.price1{
color: #b36b00;
font-size: 32px;
}
.price2{  color: #b36b00;
font-size: 32px;
}
.price3{
color: #b36b00;
font-size: 32px;
}
/*ketvirtas prasideda*/


.ketvirtasis{
background-repeat: no-repeat;
background-image: url("background4.jpg");
width: 100%;
height: 900px;
}
.ketvirtasis-visas{
position: relative;
}
.ketvirtasis-kaire{
text-align: center;
display: inline-block;
  width: 40%;
}
.ketvirtasis-kaire img{
  border-radius: 100px;
  width: 80px;
  height: 80px;
}
.ketvirtasis-kaire h1{
  color: #663300;
  margin-bottom: 0;
  font-size: 30px;
}
.ketvirtasis-kaire h3{
  color: #666666;
  margin: 0;
  font-size: 15px;
}
.ketvirtasis-desine{
  position: relative;
  width: 59%;
  display: inline-block;
}
.jebarito{
  width: 650px;
  height: 450px;
}
.lastas1{
  top: 14%;
  right: 19%;
  position: absolute;
  width: 175px;
  height: 175px;
}
.lastas2{
  top: 46%;
  right: 19%;
  position: absolute;
  width: 175px;
  height: 175px;
}
.lastas3{
  top: 78%;
  right: 19%;
  position: absolute;
  width: 175px;
  height: 175px;
}
.taste1{

  margin: 0;
  display: block;
  font-size: 35px;
}
.taste2{
  color: #663300;
  margin-top: 0;
  margin-bottom: 35px;
  display: block;
  font-size: 20px;
  font-variant: small-caps;
}
.taste3{
  left: 15%;
  top: -20%;
  position: absolute;
}
.grudai{
  margin-top: 40px;
}
.recipe{
  top: 90%;
  left: -2%;
  position: absolute;
  padding: 20px 40px;
  cursor: pointer;
  font-size: 18px;
  border: 1px #663300 dashed;
  color: #663300;
  background-color: #e6e6e6;
}
.bar2 ul{
  color: black;
  font-size: 18px;
  padding: 0;
  margin-left: 200px;
  display: -webkit-inline-box;
}
.bar2 li{
cursor: pointer;
    margin-top: 160px;
  display: inline-block;
}
.bar2 a{
  font-variant: small-caps;
  text-decoration: none;
  color: black;
}
.bar2 p{
  margin-right: 30px;
  margin-left: 30px;
  display: inline-block;
}
.gustoso2{
  margin-left: 50px;
  margin-right: 50px;
}
.last2{
  margin-top: 50px;
}
.last3{
  margin-top: 50px;
}
.line1{
  top: 90%;
  position: absolute;
}
.line2{
  top: 100%;
  left: 3%;
   position: absolute;
}
.line3{
  left: 55%;
    top: 90%;
  position: absolute;
}
.line4{
  left: 58%;
    top: 100%;
  position: absolute;
}
