/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  /*background-image: url('../img/backroundas.jpg');
  background-repeat: no-repeat;
  background-size: 100%;*/
}

section{
  background-image: url('../img/backroundas.jpg');
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  width: 100%;
	height: 850px;
}

.blokas{
  max-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 10px;

}
.tekstas{
  width: 200px;
  display: inline-block;

}

.tekstas>h1{
  width: 100px;
  font-family: 'Great Vibes', cursive;
font-size: 35px;
display: inline-block;
margin-left: 196px;
color:white;
margin-top: 5px;

}

.navigation {
  width: 850px;
  display: inline-block;
margin-left: 302px;
  margin-bottom: 20px;

}

  li{
    display: inline;
    padding: 30px;

  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color:white;
  }
  li a{
    color:white;
    font-family: 'Alegreya', serif;
    text-decoration: none;
    font-size: 14px;
  }
/*img{
  display: inline-block;
  width: 16px;
  float: right;
  margin-left: 20px;
}*/
/*img [type="../img/facebook.png"]{
  width:10px;
}*/

.logotipai{
  display: inline-block;
  width:200px;
  float:right;
margin-left: 20px;
height: 20px;
margin-right: -82px;
}
 .logotipai>img{
padding-left: 20px;
/*width:12px;*/
height: 12px;

}
.centras>h1{

  font-family: 'Playfair Display', serif;
  width: 650px;
  font-size: 70px;
  margin-top: 100px;
margin-left: 521px;
	color: white;

}

.centras{
  width: 1000;
  margin:0 auto;
  text-align: center;
  display: block;
  margin-right: 70px;
	margin-top: 192px;


}

.line{
  width: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 80px;
}
.centras>p{
  color: #ffffff;
  text-align: center;
  margin-left: 70px;
  margin-top: 50px;
  letter-spacing: 3px;
  line-height:1.5;
  font-size: 16px;

}

.mygtukas1{
  width: 100px;
  margin: 0 auto;
  margin-top: 40px;


  }

  button{
    width: 200px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border:0 solid black;
    color:#ffffff;
    font-family: 'Alegreya', serif;
    margin: 0 auto;
		height: 54px;
  }

  .apskritimas>img{
width: 100%;
margin-top: 35px;
margin: 0 auto;
margin-top: 210px;

  }
.puslapis2{
  background-image: url("../img/backroundas2.png");
  background-size: 100%;
  display: inline-block;
  width: 100%;
	height: 600px;
  margin-top: 100px;
}
.blokas1{
  width: 500px;
  margin-left: 250px;
  text-align: center;
  display: inline-block;
	position: relative;
}


 .blokas1>h1{
   width: 300px;
   font-size: 30px;
       font-family: 'Alegreya', serif;
       color: #56534c;
       margin: 0 auto;
 }

 .blokas1>span{
  color: #56534c;
  margin-top: 20px;
  font-family: 'Jaldi', sans-serif;
  font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;

	font-weight: bold;
 }
.blokas1>p{
  color:#a47d5e;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
}

.chef{
  width: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
	margin-left: 97px;
}
.chef>h1{
  width: 300px;
  font-family: 'Alegreya', serif;
  color: #56534c;
  text-align: center;
  font-size: 24px;
	font-weight: bold;
}

.lentele1{
  width: 300px;

  display: inline-block;

}



.lentele1>img{
  border-radius: 40px;
  margin: 0 auto;

  display: inline-block;
}

.left{

  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  width:88px;
  height:60px;
  display: inline-block;
  float: right;
  margin-top: 10px;

}

.right{

  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  width:88px;
  height:60px;
  display: inline-block;
  float: left;
  margin-top: 10px;
}
.left>p{
  margin-top: 20px;
  font-family: 'Alegreya', serif;
  color:grey;
}
.right>p{
  margin-top: 20px;
  font-family: 'Alegreya', serif;
  color:grey;
}
.lentele3{
  margin-top: 40px;
  display: inline-block;
  height: 500px;
}

.lentele3>p{
  font-family: 'Pinyon Script', cursive;
  font-size: 24px;
  color: #a47d5e;
  display: inline-block;
  margin-top: 20px;
}

.left1{


  width:88px;
  height:60px;
  display: inline-block;
  float: right;
  margin-top: 40px;
  font-size: 60px;
  color:grey;
}

.right1{
  width:88px;
  height:60px;
  display: inline-block;
  float: left;
  font-size: 60px;
  color:grey;
  margin-bottom: 10px;
}
.left1>p{
  margin-top: 10px;
}

.blokas2{
  width: 520px;
  display: block;
  float: right;
  margin-right: 286px;
	position: relative;

}
div.gallery {

    width: 250px;
    display: inline-block;
    padding: 5px;

}

div.gallery:hover {

}

div.gallery img {
    width: 250;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {

  padding-right: 10px;
    float: left;
    width: 250px;
    display: inline-block;

}
.responsive2{
  width: 250px;
  display: inline-block;
  padding-left: 10px
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 300;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.responsive3{
  width: 250px;
  display: inline-block;

}
.responsive4{
  width: 250px;
  display: inline-block;
  padding-left: 10px;
}

.photo5{
position: absolute;
display: inline-block;
height: 300px;
}
.photo5>img{
	position: absolute;
	margin-bottom: 100px;
	display: block;
	bottom: 285px;
	left:140px;
}

.tekstasantpav>p{
	color:#c9b176;
	font-size: 30px;
	position: absolute;
	width: 150px;
	text-align: center;
	bottom: 200px;
	left: 195px;
}

.puslapis3{
	background-image: url("../img/backround55.png");
	width: 100%;
	height: 850px;;
	background-size: 100%;
	background-repeat: no-repeat;
	display: block;
}

.centrblokas{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	top:250px;

	}


	.knyga>img{
		border-bottom-left-radius:
	}


.stars{
	position: absolute;
top:170px;
	width: 50px;
	height: 200px;

}
.stars>ul{
	width: 100px;
	display: block;
	height: 200px;
	top:20px;
	position: absolute;

}
.stars>li{
	display: block;
	width: 15px;
	height: 15px;
}
.roler{
	width: 500px;
}
.kampas{
	position: absolute;
	float:left;
	width: 100px;
	top:350px;
}

.knyga{
	width: 500px;
	height: 410px;
	display: inline-block;
}

.sonas{
	width: 500px;
	height: 405px;
	top:5px;
	position: absolute;
	left: 450px;

}

.sonas>img{
	width: 500px;
	height: 405px;
	display: inline-block;
	position: absolute;
}

.sonas>h1{
	color:#56534c;
	position: absolute;
	font-size: 48px;
	font-family: 'Alegreya', serif;
	font-weight: bold;
	width: 400px;
	top:60px;
	right: 100px;
}
.sonas>p{
	color:#a47d5e;
	font-weight: bold;
	position: absolute;
	top: 120px;
	left: 3px;
	font-size: 14px;
	font-family: 'Alegreya', serif;
	letter-spacing: 2px;
}

.tekstas5{
	width: 500px;
	position: absolute;
	right: 50px;

}
.tekstas5>p{
	color: #56534c;
	right:80px;
	position: absolute;
	bottom: 151px;
	font-family: 'Alegreya', serif;
font-family: 'Slabo 27px', serif;

letter-spacing: 1px;
line-height: 25px;
}
.mygtukas55{
	width: 50px;
position: absolute;
right: 470px;
bottom: 50px;
}
.apskritimas2{
	width: 300px;
	height: 250px;
	position: absolute;
	display: inline-block;
	top:300px;
	right: 170px;
}
.apskritimas2>img{
	right: 10px;
	bottom: 10px;
	border-radius: 50px;
	padding: 5px;
}

.mygtukas10{
	width: 50px;
	position: absolute;
	right: 120px;
	bottom: 50px;
}

.kalnai{
	position: absolute;
	height: 200px;
	width: 200px;
	left: 813px;
	bottom: 268px;
	 /*box-shadow:  -20px 15px 10px rgba(0, 0, 0, .1);*/
	 box-shadow: -5px 20px 50px 20px rgba(0, 0, 0, .3);
}

/*.kalnai>h1{
	width: 100px;
	height: 100px;
	top:20px;
	position: absolute;
	left;20px;
}*/

#puslapis4{
	background-image: url("../img/backround20.png");
	background-size: 100%;
	display: inline-block;
	width: 100%;
	height: 850px;
}
.centerblock{
	width: 1000px;
	margin: 0 auto;

}

.sekcija1>h1{
	width: 1000px;
	font-size: 60px;
	font-family: 'Alegreya', serif;
	margin-left: 6px;
	text-align: left;
	color: white;
}

.sekcija1{
	width: 500px;
text-align: left;
margin-top: 50px;
display: block;
margin: 100 auto;
float: left;
}

.sekcija2>p{
	width: 300px;
	margin-top: 20px;
	 display: block;
	 font-size: 18px;
	 color: white;
	 margin-right: 20px;
	 font-family: 'Alegreya', serif;
	 font-weight: bold;
	 color: #b19385;
}
.sekcija2{
	float: left;
margin-left: 20px;
width: 300px;
}
.lefttext{
	margin-top: 100px;
	width: 500px;
	text-align: left;
	margin-right: 10px;

}
.lefttext>h1{
	width: 300px;
	text-align: left;
	font-family: 'Alegreya', serif;
	margin-left: 43px;
	font-size: 30px;
	color: white;
	/*margin: 0 auto;*/
}

.lefttext>p{
	font-size: 16px;
	color:#949392;
	margin-top: 20px;
	font-weight: bold;
}

.lefttext>h2{
	font-size: 36px;
	color:#dfc691;
	margin-top: 20px;
	margin-left: 60px;
	padding: 10px;
}

/*leftekstas1*/
.lefttext1{
	margin-top: 49px;
	width: 500px;
	text-align: left;
	margin-left: 9px;

}
.lefttext1>h1{
	width: 300px;
	text-align: left;
	font-family: 'Alegreya', serif;
	margin-left: 43px;
	font-size: 30px;
	color: white;
	/*margin: 0 auto;*/
}

.lefttext1>p{
	font-size: 16px;
	color:#949392;
	margin-top: 20px;
	font-weight: bold;
	margin-left: 5px;
}

.lefttext1>h2{
	font-size: 36px;
	color:#dfc691;
	margin-top: 20px;
	margin-left: 65px;
}
/*leftextas2*/

.lefttext2{
	margin-top: 50px;
	width: 300px;
	text-align: left;
	margin-left: 30px;

}
.lefttext2>h1{
	width: 300px;
	text-align: left;
	font-family: 'Alegreya', serif;
	margin-left: 46px;
	font-size: 30px;
	/*margin: 0 auto;*/
	color: white;
}

.lefttext2>p{
	font-size: 16px;
	color:#949392;
	margin-top: 20px;
	font-weight: bold;
}

.lefttext2>h2{
	font-size: 36px;
	color:#dfc691;
	margin-top: 20px;
	margin-left: 48px;
}
.rightpage{
	display: inline-block;
	width: 400px;
	margin-top: 70px;
	position: absolute;
}
.rightpage>img{
	width: 500px;
}
 #button12{
	 width: 190px;
	border: 1px solid grey;
	height: 55px;
	background: rgba(255, 0, 0, 0.0);
	position: absolute;
	color: #a47d5e;
	font-size: 14px;
	font-weight: bold;

}

.morningbutton{
	width: 100px;
	margin-bottom: 50px;
	position: absolute;
	margin-left: 648px;
	margin-top: 580px;
}
#puslapis5{
	background-image: url(../img/back1111.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 1050px;
	position: absolute;
	background-size: 100% 1050px;

}

.headeris>h1{
	font-size: 48px;
	font-family: 'Alegreya', serif;
	color: #56534c;
	width: 500px;
	margin-left: 286px;
	margin-top: 70px;
}
.headeris{
	width: 1000px;
	margin: 0 auto;
}
.headeris>p{
	width: 500px;
	margin-left: 354px;
	font-size: 14px;
	color: #a47d5e;
	margin-top: 20px;
}
.circle>img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 250px;

}
.leftnav{
	width: 500px;
	position: absolute;

}

.circle>h1{
	font-size:30px;
	font-family: 'Alegreya', serif;
	font-weight: bold;
	color: #a47d5e;
	width: 200px;
	margin-left: 223px;
}

.circle>p{
	margin-left: 100px;
	text-align: center;
	margin-top: 20px;
	color: #56534c;

}

.circle1>img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 250px;
}

.circle1>h1{
	font-size:30px;
	font-family: 'Alegreya', serif;
	font-weight: bold;
	color: #a47d5e;
	width: 200px;
	margin-left: 233px;
	margin-top: 10px;
}

.circle1>p{
	margin-left: 100px;
	text-align: center;
	margin-top: 20px;
	color: #56534c;
}
.circle1{
	margin-top: 50px;
}

.circle2>img{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-left: 250px;
}

.circle2>h1{
	font-size:30px;
	font-family: 'Alegreya', serif;
	font-weight: bold;
	color: #a47d5e;
	width: 200px;
	margin-left: 209px;
	margin-top: 10px;
}

.circle2>p{
	margin-left: 100px;
	text-align: center;
	margin-top: 20px;
	color: #56534c;
}
.circle2{
	margin-top: 50px;
}
.rightnav{
	width: 1000px;
	position: absolute;
	margin-bottom: 20px;
	margin-left: 691px;
	margin-top: 55px;
}
.navbar{
	width: 500px;
	margin-top: 727px;
	margin-left: 159px;
	height: 70px;
	display: inline-block;
	border-top: 1px solid #c2beba;
	border-bottom: 1px solid #c2beba;
}
.navbar>ul{
	width: 500px;
	height: 50px;
	color: #42403c;
	font-size: 14px;
	margin-top: 30px;
	margin-left: 30px;
}

.navcenter{
width: 211px;
height: 74px;
margin-left: 36px;
display: inline-block;
font-family: 'Great Vibes', cursive;
}
.navcenter>h1{
	color: #42403c;
	letter-spacing: 5px;
	margin-left: 93px;
	font-size: 30px;
}

.navbar2{
	width: 500px;
	margin-top: 727px;
	margin-left: 135px;
	height: 70px;
	display: inline-block;
	border-top: 1px solid #c2beba;
	border-bottom: 1px solid #c2beba;
}
.navbar2>ul{
	width: 500px;
	height: 50px;
	color: #42403c;
	font-size: 14px;
	margin-top: 30px;
	margin-left: 30px;
}
