// Mano kodas prasideda
// font-family: 'Trocchi', serif;
// font-family: 'Alegreya SC', serif;
$fontStandard: 16px;

:root{
	font-size: 10px;
}
body {
	max-width: 1920px;
}

.nulinis {
	max-width: 1920px;
	background-image: url("../img/dazu-background.jpg");
	background-size: cover;

	section{
		span{
			color: white;
		}
	}
	>section{
		position: relative;
		max-width: 980px;
		display: block;
		margin: 0 auto;
		box-sizing: border-box;
		text-align: center;

		span{
			position: absolute;
			top: 5%;
			right: 5%;
			font-size: 2.4rem;
			letter-spacing: 2px;
			font-family: 'Trocchi', serif;
		}
	}
}

header{
	max-width: 980px;
	background-image: url("../img/white-background.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	height: 100px;

	img{
		margin-top: 10px;
	}
	>div{
		padding: 20px 0 0 25px;
	}
	ul{
		display: inline-block;
		margin-left: 38px;
		padding: 0;

		li{
			display: inline-block;
			list-style: none;
			margin-right: 34px;
		}
		li:last-child{
			margin-right: 0;
		}
	}
	li:hover{
		transform: scale(1.1);
	  transition: 0.2s;
	}
	a{
		font-size: 1.6rem;
		font-family: 'Trocchi', serif;
		color: black;
		text-decoration: none;
	}
	a:hover{
		overflow: hidden;
		color: #ff9919;
		text-decoration: none;
	}
	button{
		display: none;
	}
}

img[src="img/phone.png"] {
	margin-right: 12px;
}
.nulinis{
	> section{
		h1{
			font-size: 6rem;
			font-family: 'Alegreya SC', serif;
			font-weight: bold;
			color: white;
			padding-top: 290px;
			padding-bottom: 45px;
			margin: 0;
		}
		h2{
			margin: 0;
			font-size: 3rem;
			font-family: 'Trocchi', serif;
			color: white;
			padding-bottom: 290px;
		}
		img[src="img/arrow.png"]{
			position: absolute;
			top: 70%;
			left: 50%;
			cursor: pointer;
		}
	}
}

// bounce
@-webkit-keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		-webkit-transform: translate(-50%,0);
		transform: translate(-50%,0);
	}

	40% {
		-webkit-transform: translate(-50%,-30px);
		transform: translate(-50%,-30px);
	}

	60% {
		-webkit-transform: translate(-50%,-15px);
		transform: translate(-50%,-15px);
	}
}
@keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		-webkit-transform: translate(-50%,0);
		transform: translate(-50%,0);
	}

	40% {
		-webkit-transform: translate(-50%,-30px);
		transform: translate(-50%,-30px);
	}

	60% {
		-webkit-transform: translate(-50%,-15px);
		transform: translate(-50%,-15px);
	}
}

.bounce {
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
// Pirmas prasideda

.pirmas {
	max-width: 1920px;
	background-image: url("../img/background-spalvynas2.jpg");
	background-size: cover;

	img{
	margin-right: 32px;
	}
	h1{
		margin: 0 0 78px;
		padding-top: 78px;
		color: white;
		font-size: 5.2rem;
		font-family: 'Alegreya SC', serif;
		font-weight: bold;
		text-align: center;
	}
	>section{
		max-width: 980px;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.col-md-4{
		h2{
			color: #6ca7f2;
			font-size: 4.8rem;
			font-family: 'Alegreya SC', serif;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		p{
			margin: 0;
			font-size: 2.4rem;
			font-family: 'Trocchi', serif;
			color: white;
		}
	}
	.row:first-child{
		margin-bottom: 78px;
	}
	.row:last-child{
		margin-bottom: 120px;
	}
}

// antras

.antras {
	max-width: 1920px;
	background-image: url("../img/background-spalvynas3.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	> section{
		max-width: 980px;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	h1{
		margin: 0;
		padding-top: 78px;
		color: white;
		font-size: 5.2rem;
		font-family: 'Alegreya SC', serif;
		font-weight: bold;
		text-align: center;
	}
	.col-md-4{
		p{
			margin: 0;
			font-size: 2.4rem;
			font-family: 'Trocchi', serif;
			color: white;
			margin-bottom: 78px;
		}
		img{
			transform: scale(0);
			transition: 2s;
		}
	}
}

// trecia

.trys {
	max-width: 1920px;
	background-color: white;
	background-repeat: no-repeat;
	> section{
		max-width: 980px;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	h1{
		margin: 0;
		margin-bottom:35px;
		padding-top: 78px;
		color: black;
		font-size: 5.2rem;
		font-family: 'Alegreya SC', serif;
		font-weight: bold;
		text-align: center;
	}
	section{
		overflow: hidden;
		.owl-carousel{

		}
		.owl-item{
			display: inline-block;
		}
		.owl-nav{
			display: none;
		}
		img{
			display: inline-block;
		}
		img[src="img/salna logo.jpeg"]{
			padding: 51.5px 0;
		}
		img[src="img/kad-nebutu-salta.png"]{
			padding: 41.5px 0;
		}
		img[alt="vaidmina"]{
			padding: 53px 0;
		}
		img[alt="retro-garazas"]{
			padding: 3.5px 0;
		}
		img[alt="lukera"]{
			padding: 82.5px 0;
		}
	}
}


// .slider img {
// 	display: inline-block;
// }

.trys-footer{
	button{
		background-color:#f63c3c;
		border:none;
		color:white;
		border-radius: 3px;
		border-bottom: 5px solid #ad1515;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		font-size: 4.8rem;
		font-family: 'Trocchi', serif;
		text-transform: lowercase;
		overflow: hidden;
		margin-top: 53px;
		padding: 8px 38px;
		margin-bottom:50px;

	}
	button:hover{
		transition: 0.5s;
		background-color: white;
		border:3px solid #f63c3c;
		color:#f63c3c;
	}
}
.trys-footer img:first-child{
	float:left;
}
.trys-footer img:last-child{
	float:right;
}
.clearfix{
	clear:both;
}
// keturi

.keturi {
	max-width: 1920px;
	background-image: url("../img/background-spalvynas4.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	h1{
		margin: 0 0 78px;
		padding-top: 78px;
		color: white;
		font-size: 4.8rem;
		font-family: 'Alegreya SC', serif;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
	>section{
		max-width: 980px;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.col-md-4 {
		h2{
			color: #6ca7f2;
			font-size: 4.8rem;
			font-family: 'Alegreya SC', serif;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		p{
			margin: 0;
			font-size: 2.4rem;
			font-family: 'Trocchi', serif;
			color: white;
		}
	}
	.row:first-child {
		margin-bottom: 78px;
	}
	.row:last-child {
		margin-bottom: 120px;
	}
}

// penki

.penki {
	max-width: 1920px;
	background-image: url("../img/background-spalvynas5.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	>section{
		max-width: 980px;
		display: block;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}
	h1{
		margin: 0;
		margin-bottom: 100px;
		padding-top: 78px;
		color: black;
		font-size: 5.2rem;
		font-family: 'Alegreya SC', serif;
		font-weight: bold;
		text-align: center;
	}
	button{
		border: none;
		display: block;
		text-align: center;
		background-color: #1aaf85;
		color:white;
		border-radius: 5px;
		border-bottom: 5px solid #059a74;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		font-size: 3.6rem;
		font-family: 'Trocchi', serif;
		overflow: hidden;
		margin:0 auto 0px auto;
		padding: 0 10px;
	}
	button:hover{
		background-color: white;
		color:#1aaf85;
		border-bottom: 5px solid #f2f2f2;
	}
}

.pirmas-penki,.antras-penki,.trecias-penki,.ketvirtas-penki,.penktas-penki{
	display: inline-block;
	width: 30%;
	position: relative;
}

.pirmas-penki{
	margin-right: 20%;
	vertical-align: top;
	img{
		position: absolute;
		top: -32%;
	  left: 12%;
	}
}
.antras-penki{
	margin-top: 50px;
	img{
		position: absolute;
		top: -25%;
	  right: 16%;
	}
}
.trecias-penki{
	// margin-left: 8%;
	vertical-align: top;
	margin-right: 20%;
	img{
		position: absolute;
		top: -40%;
	  left: 4%;
		margin-top: -10px;
	}
}
.ketvirtas-penki{
	margin-top: 50px;
	vertical-align: top;
	img{
		margin-top: -20px;
		position: absolute;
		top: -25%;
	  right: 16%;
	}
}
.penktas-penki{
	display: block;
	vertical-align: top;
	margin-left: 10%;
	margin-bottom: 80px;
	img{
		position: absolute;
		top: -40%;
	  left: 0;
	}
}
img[src="img/gyvatele.png"]{
	position: absolute;
	top:30%;
	left:50%;
	transform: translateX(-50%);
}

.pirmas-penki p,.antras-penki p,.trecias-penki p,.ketvirtas-penki p,.penktas-penki p{
	margin: 0;
	font-size: 2.4rem;
	font-family: 'Trocchi', serif;
	color: black;
}

.tarpas{
	height: 75px;
}
// google maps
#map{
	height: 400px;
}
// septyni
.septyni {
	max-width: 1920px;
	background-image: url("../img/background-spalvynas6.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	> section {
		max-width: 980px;
		display: block;
		margin: 0 auto;
		text-align: center;
		position: relative;
	}
	.marked{
		background-color: rgba(255,255,255, 0.8);
		width:40%;
		margin:0 auto;
		border-radius: 10px;
	}
	button{
		background-image: url("../img/button-spalvynas.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		border: none;
		display: block;
		text-align: center;
		color:black;
		border-radius: 5px;
		border-bottom: 2px solid black;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		font-size: 3.6rem;
		font-family: 'Trocchi', serif;
		overflow: hidden;
		margin:0 auto 20px auto;
		padding: 0 10px;
	}


	button:hover{
			color:#5b5555;
			border-radius: 5px;
			border-bottom: 2px solid rgba(255,255,255, 0.8);
	}
	h1 {
		color: black;
		font-size: 4.8rem;
		font-family: 'Alegreya SC', serif;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
	p{
		margin: 0;
		font-size: 2.4rem;
		font-family: 'Trocchi', serif;
		color: black;
		padding-bottom: 20px;
	}
}
.sandwich{
	display: none;
}
@media (max-width: 990px){
	.antras{

		.col-md-4{
			display: inline-block;
			vertical-align: top;
		}
	}
	.keturi .row:first-child {
    margin-bottom: 0px;
	}
}
@media (max-width: 960px){
	:root{
		font-size: 9px;
	}
	header{
		background-image:none;
		background-color: white;
		>div{
			padding: 0;
		}
		img{
			display: block;
			margin:0 auto 10px auto;
		}
		ul{
			margin:0 auto;
			display: block;
			text-align: center;
			width: 100%;
			box-sizing: border-box;
		}
	}
	.pirmas{
		background-size: cover;
		background-repeat: no-repeat;
		.col-md-4{
			display: inline-block;
			vertical-align: top;
		}
	}

	.antras{
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("../img/black-colors.jpg");
		.col-md-4{
			margin-bottom: 40px;
			p{
				margin-bottom: 0;
			}
			img{
				max-height: 170px;
			}

		}
	}
}
@media (max-width:830px){
	.trys-footer{
		img:nth-of-type(1){
			display: none;
		}
		button{
			display: block;
			margin:0 auto 25px auto;
		}
		img:nth-of-type(2){
			display: block;
			margin:0 auto 25px auto;
			float: none;
		}
	}
	.penki{
		background-size: cover;
		background-position: center;
		section{

			img[src="img/gyvatele.png"]{
				display: none;
			}
		}
	}
	.septyni .marked{
		width: 60%;
	}
}
@media (max-width:680px){
	header{
		height:auto;
		padding: 15px;
		ul{
			display: none;
		}
		img{
			margin:0;
		}
		ul li{
			display: block;
			margin: 0;
			padding: 15px 0;
		}
	}
	.sandwich {
		display: block;
    z-index: 5;
    position: absolute;
    top: 25px;
    left: 90%;
    cursor: pointer;
	}
	.change.bar1{
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.change.bar2 {
    opacity: 0;
	}
	.change.bar3{
		transform: rotate(45deg) translate(-8px, -8px);
	}

	.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: all 0.5s ease;
	}
	.pirmas{
		background-size: cover;
		background-repeat: no-repeat;
		.row:first-child{
			margin-bottom: 0;
		}
		.row:last-child{
			margin-bottom: 40px;
		}
	}
	.antras{
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url("../img/black-colors.jpg");
		.col-md-4{
			display: block;
			p{
				margin-bottom: 0;
			}
		}

	}
	.septyni .marked{
		width: 70%;
	}

}
