/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mano codas */

/**{
  background-color: black;
}

.asd.vienas{
  width:200px;
  height: 200px;
  background-color:red;
}
.asd{
  background-color:blue;
}*/

/*Uzduotis */

/*h1 {
  color:orange;
  font-size:28px;
}
p{
  font-size: 16px;
  font-style:italic;
  color:black;
}
p>span{
  font-size: 16px;
  color:blue;
}
ol>li:nth-child(even){
  background-color: black;
  color:white;
  font-size: 16px;
}
a:active{
  color:violet;
}*/
body{
  background-color: grey;
  max-width: 1450px;
}
/*.belekas{
  background-color: grey;
  max-width: 1450px;
}*/
/*.inner{
  max-width: 1250px;
  max-height: 100px;
  margin:0 auto;
  background-color: white;
}
img{
  display: inline-block;
  max-height: 100px;*/
  /*left:float;*/
/*}*/
/*button{*/
  /*display: inline-block;*/
  /*margin-top:40px;*/
  /*margin-left:70%;*/
  /*float:right;*/
  /*background-color:orange;
}
.inner>ul{
  background-color: black;
  display: inline-block;
  color:white;
}*/
/*ul>li{
  padding: 10px;
  font-size: 24px;
  display: inline-block;
}
li>a{
  color:white;
  text-decoration: none;
}
.pvz{
  margin-top:10px;
  float: right;
}
.clearfix{
  float:none;
}*/
/*.inner{
	max-width: 1250px;
	margin:0 auto;
}
img[src="sony.png"]{
	margin:0 auto;
	display: block;
}*/

/*centravimas ul*/

/*div{
	max-width: 1250px;
	margin:0 auto;
	background-color: white;
}

ul{
	display: inline-block;
	width:70%;
	margin:0 auto;
	text-align: center;
}
ul>li{
	display: inline-block;
	text-align: center;
}*/

/* 3 elementu blokas*/

.outer{
	max-width: 1250px;
	margin:0 auto;
	background-color: white;
}
.first, .second, .third{
	display: inline-block;
	width: 33%;
}
.first {
	height: 160px;
	vertical-align: top;
	text-align: left;
}
.first ul{
 margin-top: 65px;
}
.first ul>li{
	vertical-align: top;
	display: inline-block;
	text-align: left;
}
.second img{
	display: block;
	margin:0 auto;
}
.third {
	height: 160px;
}
.third img{
	margin-top: 65px;
	float: right;
}
