p{
  padding: 10px;
  color:red;
  background-color: green;
}
span{
  color:blue;
  background-color: magenta;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
p{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.vasia123{
  position:relative;
  height: 200px;
  background-color: blue;
  width: 100%;
}
.vasia123>p{
  position:absolute;
  z-index: 2;
}
